# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TogetherOrder.iml
# Datasource local storage ignored files
/../../../../../../../:\together-order\TogetherOrder\TogetherOrder\.idea\.idea.TogetherOrder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
